* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
}

.nav-back {
    background: radial-gradient(circle, rgb(255, 201, 99), #ff8b48);
    padding: 10px 0px 0px 0px !important;
}

#logo-title {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: black;
    -webkit-text-stroke: 1px rgb(43, 43, 43);
}

.link-text {
    font-weight: 400;
    font-size: 18px;
    color: black !important;
}

.link-text:hover {
    cursor: pointer;
    color: white !important;
}

.logo-image {
    width: 35px;
    aspect-ratio: 3/2;
    position: absolute;
    animation-name: floating;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes floating {
    from {
        top: -10px;
    }

    to {
        top: -4px;
    }
}

.logo-image.one {
    left: 5px;
}

.logo-image.two {
    left: 92px;
}

.logo-container {
    position: relative;
}