*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
}
.nav-back{
    background-color: #ff0073;
    padding: 10px 0px 0px 0px !important;
    box-shadow: rgba(0, 0, 0, 0.635) 0px -50px 36px -28px inset;
}
#logo-title{
    font-style: normal;
    font-weight: 700;
    font-size:25px;
    color: white;
    -webkit-text-stroke: 1px #070707;
}
.link-text{
    font-weight: 400;
    font-size: 18px;
    color: white !important;
}
.link-text:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.642)!important;
}
.logo-image{
    width: 35px;
    aspect-ratio: 3/2;
    position: absolute;
    animation-name: floating;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes floating {
    from{
        top: -10px;
    }
    to{
        top: -4px;
    }
}
.logo-image.one{
    left:5px;
}
.logo-image.two{
    left: 92px;
}
.logo-container{
    position: relative;
}
