*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
}
body{
    background-color: black !important;
}
::-webkit-scrollbar {
    width: 15px;
  }
::-webkit-scrollbar-track {
    background: #1e1e1e;
  }
  ::-webkit-scrollbar-thumb {
    background: #ff0073;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ff4998;
  }

  /*===========Carousel=============*/
/*===========Carousel=============*/
/*===========Carousel=============*/

#manga-carousel{
    margin-top: 55px;
}
.carousel-button{
    border: none;
    font-size: 20px;
    font-weight: 400;
    padding: 2px 20px 0px 20px;
    background-color: #ff0073;
    color: white;
    box-shadow: rgba(17, 17, 17, 0.607) 0px 0px 3px 2px inset;
    border: 3px solid black;
    border-radius: 4px;
    transition: .3s all;
}
.carousel-button:hover{
    transform: translateY(-2px);
}
.indicator-button{
    border: 1px solid white !important;
}
.carousel-indicators .active{
    background-color: #ff0073 !important;
}
.carousel-control-next-icon{
    background-color: #000000 !important;
    border-radius: 5px;
}
.carousel-control-prev-icon{
    background-color: #000000 !important;  
    border-radius: 5px;
}

/*=========== Top 10 =============*/
/*=========== Top 10 =============*/
/*=========== Top 10 =============*/

.top-10-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .manga-title{
    font-family: "Rubik 80s Fade", system-ui;
    font-weight: 400;
    font-size: 40px;
    color: #ff9acb;
    align-self: center;
  }
  .sword{
    width: 60px;
  }